sakora-tool/tool/src/webapp/WEB-INF/xsd/readCourseTemplatesFSPRequest.xsd

<?xml version="1.0"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/cms2p0/xsd/imscms_v2p0" version="IMS CMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cms="http://www.imsglobal.org/services/es/cms2p0/xsd/imscms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
  <xs:simpleType name="SequenceIdentifier.Type"> 
    <xs:restriction base="xs:dateTime"/> 
  </xs:simpleType> 
  <xs:element name="readCourseTemplatesFromSavePointRequest"> 
    <xs:complexType> 
      <xs:sequence> 
        <xs:element ref="cms:fromSavePoint"/> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
  <xs:element name="fromSavePoint" type="cms:SequenceIdentifier.Type"/> 
</xs:schema> 

