sakora-api/api/src/java/xsd/MembershipManagementService.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0"
    xmlns:mms="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    version="IMS MMS 2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            -------------------------
            Author:         Colin Smythe
            Date:           31st October, 2007
            Version:        Draft 1.0
            Status:         CM/DN Release
            Description:    The service realisation of the Membership Management Service.  The core data model consists
                            of: Membership, Member and Role.

            History:        Version 1.0: The first formal release of this PSM binding.

            Copyright:      2005-2007 (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
                            IMS Global Learning Consortium, Inc. (IMS/GLC) is publishing the information
                            contained in this binding ("Specification") for purposes of scientific
                            experimental and scholarly collaboration only.  IMS/GLC makes no warranty or
                            representation regarding the accuracy or completeness of the Specification.
                            This material is provided on an "As Is" and "As Available basis".
                            The Specification is at all times subject to change and revision without
                            notice. It is your sole responsibility to evaluate the usefulness, accuracy
                            and completeness of the Specification as it relates to you.  IMS/GLC would
                            appreciate receiving your comments and suggestions.  Please contact IMS/GLC
                            through our website at: http://www.imsglobal.org.

            UML Source File Information
            ---------------------------
            Choreography:     Sync

            Source XSLT File Information
            ----------------------------
            XSL Generator:    UMLtoWSDLTransformv0p8.xsl
            XSLT Processor:   Xalan
            Release:          1.0 Beta 2
            Date:             31st March, 2007

            Auto-generation Tool
            --------------------
            This WSDL/XSD was auto-generated using the IMS WSDL/XSD auto-generation tool.  While every attempt
            has been made to ensure that this tool auto-generates the XSDs correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS document: "IMS/GLC General Web Services: WSDL/XSD Binding Auto-generation"
            available at the IMS web-site.
            Tool Copyright:  2005-2007 (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <!-- Generate Global Attributes ***********************************************************************  -->

    <!-- ==================================================================================================  -->

    <!-- Generate Namespaced extension Group  *************************************************************  -->

    <!-- ==================================================================================================  -->

    <!-- Generate Special DataTypes  **********************************************************************  -->

    <!-- ==================================================================================================  -->

    <!-- Generate the enumerated simpleType declarations **************************************************  -->

    <xs:simpleType name="MembershipIdType.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="courseTemplate"/>
            <xs:enumeration value="courseOffering"/>
            <xs:enumeration value="courseSection"/>
            <xs:enumeration value="sectionAssociation"/>
            <xs:enumeration value="group"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RoleType.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Learner"/>
            <xs:enumeration value="Instructor"/>
            <xs:enumeration value="ContentDeveloper"/>
            <xs:enumeration value="Member"/>
            <xs:enumeration value="Manager"/>
            <xs:enumeration value="Mentor"/>
            <xs:enumeration value="Administrator"/>
            <xs:enumeration value="TeachingAssistant"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SubRole.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Learner"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Status.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active"/>
            <xs:enumeration value="Inactive"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="imsx_CodeMajor.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="success"/>
            <xs:enumeration value="processing"/>
            <xs:enumeration value="failure"/>
            <xs:enumeration value="unsupported"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="imsx_Severity.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="status"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="error"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="imsx_CodeMinorValue.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fullsuccess"/>
            <xs:enumeration value="idalloc"/>
            <xs:enumeration value="overflowfail"/>
            <xs:enumeration value="idallocinusefail"/>
            <xs:enumeration value="invaliddata"/>
            <xs:enumeration value="incompletedata"/>
            <xs:enumeration value="partialdatastorage"/>
            <xs:enumeration value="unknownobject"/>
            <xs:enumeration value="deletefailure"/>
            <xs:enumeration value="targetreadfailure"/>
            <xs:enumeration value="savepointerror"/>
            <xs:enumeration value="unknownquery"/>
            <xs:enumeration value="unknownvocab"/>
            <xs:enumeration value="targetisbusy"/>
            <xs:enumeration value="unknownextension"/>
            <xs:enumeration value="unauthorizedrequest"/>
            <xs:enumeration value="linkfailure"/>
            <xs:enumeration value="unsupported"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LanguageSet.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="en"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="en-US"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FieldType.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Boolean"/>
            <xs:enumeration value="Integer"/>
            <xs:enumeration value="String"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="membershipIdType" type="mms:MembershipIdType.Type"/>

    <xs:element name="roleType" type="mms:RoleType.Type"/>

    <xs:element name="subrole" type="mms:SubRole.Type"/>

    <xs:element name="status" type="mms:Status.Type"/>

    <xs:element name="imsx_codeMajor" type="mms:imsx_CodeMajor.Type"/>

    <xs:element name="imsx_severity" type="mms:imsx_Severity.Type"/>

    <xs:element name="imsx_codeMinorFieldValue" type="mms:imsx_CodeMinorValue.Type"/>

    <xs:element name="language" type="mms:LanguageSet.Type"/>

    <xs:element name="fieldType" type="mms:FieldType.Type"/>

    <!-- ==================================================================================================  -->

    <!-- Generate the simpleType elements based IMS data-types  *******************************************  -->

    <xs:simpleType name="URL.Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value = "4096"/>
            <xs:minLength value = "1"/>
            <xs:whiteSpace value = "preserve"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="dateTime" type="xs:dateTime" />

    <xs:element name="imsx_messageRefIdentifier" type="xs:string" />

    <xs:element name="imsx_operationRefIdentifier" type="xs:string" />

    <xs:element name="imsx_description" type="xs:string" />

    <xs:element name="imsx_codeMinorFieldName" type="xs:string" default="TargetEndSystem" />

    <xs:element name="imsx_version" type="xs:string" />

    <xs:element name="imsx_messageIdentifier" type="xs:string" />

    <xs:element name="textString" type="xs:string" />

    <xs:element name="date" type="xs:date" />

    <xs:element name="restrict" type="xs:boolean" />

    <xs:element name="fieldName" type="xs:string" />

    <xs:element name="fieldValue" type="xs:string" />

    <!-- ==================================================================================================  -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************  -->

    <xs:simpleType name="GUID.Type">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="SequenceIdentifier.Type">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>

    <xs:simpleType name="QueryObject.Type">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <!-- ==================================================================================================  -->

    <!-- Generate the derived data-type elements based upon derived simpleType ****************************  -->

    <!-- ==================================================================================================  -->

    <!-- Generate the data-type ComplexTypes **************************************************************  -->

    <xs:complexType name="Membership.Type">
        <xs:annotation>
            <xs:documentation>
                The Membership datatype is the top-level container
                for the Membership data model.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:sourcedId" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:collectionSourcedID" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:membershipIdType" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:members" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Member.Type">
        <xs:annotation>
            <xs:documentation>
                The Member data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:sourcedId" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:idType" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:role" minOccurs = "1" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Role.Type">
        <xs:annotation>
            <xs:documentation>
                The Role data-type is the container for ..
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:roleType" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:subrole" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:timeFrame" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:status" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:dateTime" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:dataSource" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:recordInfo" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:extension" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="imsx_StatusInfo.Type">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:imsx_codeMajor" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_severity" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_messageRefIdentifier" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_operationRefIdentifier" minOccurs = "0" maxOccurs = "unbounded"/>
            <xs:element ref="mms:imsx_description" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_codeMinor" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="imsx_CodeMinor.Type">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:imsx_codeMinorField" minOccurs = "1" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="imsx_CodeMinorField.Type">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:imsx_codeMinorFieldName" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_codeMinorFieldValue" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="imsx_RequestHeaderInfo.Type">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:imsx_version" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_messageIdentifier" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="imsx_ResponseHeaderInfo.Type">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:imsx_version" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_messageIdentifier" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:imsx_statusInfo" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GUIDSet.Type">
        <xs:annotation>
            <xs:documentation>
                The GUIDSet data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:sourcedId" minOccurs = "0" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Text.Type">
        <xs:annotation>
            <xs:documentation>
                The Text data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:language" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:textString" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeFrame.Type">
        <xs:annotation>
            <xs:documentation>
                The TimeFrame data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:begin" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:end" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:adminPeriod" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RestrictDate.Type">
        <xs:annotation>
            <xs:documentation>
                The RestrictDate data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:date" minOccurs = "0" maxOccurs = "1"/>
            <xs:element ref="mms:restrict" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Metadata.Type">
        <xs:annotation>
            <xs:documentation>
                The Metadata data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IMSExtension.Type">
        <xs:annotation>
            <xs:documentation>
                The IMSExtension data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:extensionField" minOccurs = "1" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExtensionField.Type">
        <xs:annotation>
            <xs:documentation>
                The ExtensionField data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mms:fieldName" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:fieldType" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="mms:fieldValue" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================================================================================================  -->

    <!-- Declaration of the elements **********************************************************************  -->

    <xs:element name="members" type="mms:Member.Type"/>

    <xs:element name="timeFrame" type="mms:TimeFrame.Type"/>

    <xs:element name="recordInfo" type="mms:Metadata.Type"/>

    <xs:element name="extension" type="mms:IMSExtension.Type"/>

    <xs:element name="imsx_codeMinor" type="mms:imsx_CodeMinor.Type"/>

    <xs:element name="imsx_codeMinorField" type="mms:imsx_CodeMinorField.Type"/>

    <xs:element name="imsx_statusInfo" type="mms:imsx_StatusInfo.Type"/>

    <xs:element name="begin" type="mms:RestrictDate.Type"/>

    <xs:element name="end" type="mms:RestrictDate.Type"/>

    <xs:element name="adminPeriod" type="mms:Text.Type"/>

    <xs:element name="extensionField" type="mms:ExtensionField.Type"/>

    <xs:element name="dataSource" type="mms:GUID.Type"/>

    <!-- ==================================================================================================  -->

    <!-- Declaration of the message parameter elements ****************************************************  -->

    <xs:element name="sourcedId" type="mms:GUID.Type"/>
 
    <xs:element name="collectionSourcedID" type="mms:GUID.Type"/>
 
    <xs:element name="idType" type="mms:GUID.Type"/>

    <xs:element name="membership" type="mms:Membership.Type"/>

    <xs:element name="sourcedIdSet" type="mms:GUIDSet.Type"/>

    <xs:element name="fromSavePoint" type="mms:SequenceIdentifier.Type"/>

    <xs:element name="savePoint" type="mms:SequenceIdentifier.Type"/>

    <xs:element name="personSourcedId" type="mms:GUID.Type"/>

    <xs:element name="role" type="mms:Role.Type"/>

    <xs:element name="groupSourcedId" type="mms:GUID.Type"/>

    <xs:element name="collection" type="mms:MembershipIdType.Type"/>

    <xs:element name="dataFile" type="mms:URL.Type"/>

    <xs:element name="queryObject" type="mms:QueryObject.Type"/>

    <xs:element name="newSourcedId" type="mms:GUID.Type"/>

    <!-- ==================================================================================================  -->

    <!-- Declaration of the message body elements *********************************************************  -->

    <xs:element name="createMembershipRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:sourcedId"/>
                <xs:element ref="mms:membership"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createMembershipResponse">
        <xs:complexType/>
    </xs:element>

    <xs:element name="deleteMembershipRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:sourcedId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteMembershipResponse">
        <xs:complexType/>
    </xs:element>

    <xs:element name="readMembershipRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:sourcedId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="readMembershipResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:membership" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="readMembershipsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:sourcedIdSet"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="readMembershipsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:dataFile" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="readMembershipsFromSavePointRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:fromSavePoint"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="readMembershipsFromSavePointResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:dataFile" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="mms:savePoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateMembershipRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mms:sourcedId"/>
                <xs:element ref="mms:membership"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateMembershipResponse">
        <xs:complexType/>
    </xs:element>

    <!-- ==================================================================================================  -->

    <!-- Declaration of the root element(s) ***************************************************************  -->

    <xs:element name="imsx_syncRequestHeaderInfo" type="mms:imsx_RequestHeaderInfo.Type"/>
    <xs:element name="imsx_syncResponseHeaderInfo" type="mms:imsx_ResponseHeaderInfo.Type"/>

    <!-- ==================================================================================================  -->

</xs:schema>

