sakora-api/api/src/java/xsd/OutcomeManagementService.xsd

<?xml version="1.0"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
  <xsd:element name="SAE_GRADE_RS_REQ" type="SAE_GRADE_RS_REQ_TypeShape"/> 
  <xsd:complexType name="SAE_GRADE_RS_REQ_TypeShape"> 
    <xsd:sequence> 
      <xsd:element name="FieldTypes" type="FieldTypes_TypeShape"/> 
      <xsd:element name="MsgData" type="MsgData_TypeShape"/> 
    </xsd:sequence> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypes_TypeShape"> 
    <xsd:sequence> 
      <xsd:element name="SAE_GRD_REQP_VW" type="FieldTypesSAE_GRD_REQP_VW_TypeShape"/> 
      <xsd:element name="PSCAMA" type="FieldTypesPSCAMA_TypeShape"/> 
    </xsd:sequence> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesSAE_GRD_REQP_VW_TypeShape"> 
    <xsd:sequence> 
      <xsd:element minOccurs="0" name="INSTITUTION" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="STRM" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="CLASS_NBR" type="FieldTypesNumberFieldType"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesPSCAMA_TypeShape"> 
    <xsd:sequence> 
      <xsd:element minOccurs="0" name="LANGUAGE_CD" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="AUDIT_ACTN" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="BASE_LANGUAGE_CD" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="MSG_SEQ_FLG" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="PROCESS_INSTANCE" type="FieldTypesNumberFieldType"/> 
      <xsd:element minOccurs="0" name="PUBLISH_RULE_ID" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="MSGNODENAME" type="FieldTypesCharFieldType"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesCharFieldType"> 
    <xsd:attribute fixed="CHAR" name="type" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesNumberFieldType"> 
    <xsd:attribute fixed="NUMBER" name="type" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesDateFieldType"> 
    <xsd:attribute fixed="DATE" name="type" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesTimeFieldType"> 
    <xsd:attribute fixed="TIME" name="type" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesDateTimeFieldType"> 
    <xsd:attribute fixed="DATETIME" name="type" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesImageRefFieldType"> 
    <xsd:attribute fixed="IMAGEREFERENCE" name="type" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="MsgData_TypeShape"> 
    <xsd:sequence> 
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Transaction" type="Transaction_TypeShape"/> 
    </xsd:sequence> 
  </xsd:complexType> 
  <xsd:complexType name="Transaction_TypeShape"> 
    <xsd:sequence> 
      <xsd:element name="SAE_GRD_REQP_VW" type="SAE_GRD_REQP_VWMsgDataRecord_TypeShape"/> 
      <xsd:element name="PSCAMA" type="PSCAMAMsgDataRecord_TypeShape"/> 
    </xsd:sequence> 
  </xsd:complexType> 
  <xsd:complexType name="SAE_GRD_REQP_VWMsgDataRecord_TypeShape"> 
    <xsd:sequence> 
      <xsd:element minOccurs="0" name="INSTITUTION" type="INSTITUTION_TypeShape"/> 
      <xsd:element minOccurs="0" name="STRM" type="STRM_TypeShape"/> 
      <xsd:element minOccurs="0" name="CLASS_NBR" type="CLASS_NBR_TypeShape"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="INSTITUTION_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="INSTITUTION_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="STRM_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="STRM_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="CLASS_NBR_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="CLASS_NBR_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:simpleType name="INSTITUTION_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>INSTITUTION is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="5"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="STRM_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>STRM is a character of length 4. Allows Numbers only</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="4"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="[0-9]*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="CLASS_NBR_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>CLASS_NBR is a number of length 5 with a decimal position of 0</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:integer"> 
      <xsd:totalDigits value="5"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:complexType name="PSCAMAMsgDataRecord_TypeShape"> 
    <xsd:sequence> 
      <xsd:element minOccurs="0" name="LANGUAGE_CD" type="LANGUAGE_CD_TypeShape"/> 
      <xsd:element minOccurs="0" name="AUDIT_ACTN" type="AUDIT_ACTN_TypeShape"/> 
      <xsd:element minOccurs="0" name="BASE_LANGUAGE_CD" type="BASE_LANGUAGE_CD_TypeShape"/> 
      <xsd:element minOccurs="0" name="MSG_SEQ_FLG" type="MSG_SEQ_FLG_TypeShape"/> 
      <xsd:element minOccurs="0" name="PROCESS_INSTANCE" type="PROCESS_INSTANCE_TypeShape"/> 
      <xsd:element minOccurs="0" name="PUBLISH_RULE_ID" type="PUBLISH_RULE_ID_TypeShape"/> 
      <xsd:element minOccurs="0" name="MSGNODENAME" type="MSGNODENAME_TypeShape"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="LANGUAGE_CD_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="LANGUAGE_CD_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="AUDIT_ACTN_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="AUDIT_ACTN_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="BASE_LANGUAGE_CD_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="BASE_LANGUAGE_CD_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="MSG_SEQ_FLG_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="MSG_SEQ_FLG_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="PROCESS_INSTANCE_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="PROCESS_INSTANCE_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="PUBLISH_RULE_ID_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="PUBLISH_RULE_ID_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="MSGNODENAME_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="MSGNODENAME_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:simpleType name="LANGUAGE_CD_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Language Code</xsd:documentation> 
      <xsd:documentation>LANGUAGE_CD is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="3"/> 
      <xsd:whiteSpace value="preserve"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="AUDIT_ACTN_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Audit Action Code for Application Messages.  This tells the subscriber whether the row has been added, changed, or deleted.</xsd:documentation> 
      <xsd:documentation>AUDIT_ACTN is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="1"/> 
      <xsd:whiteSpace value="preserve"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="BASE_LANGUAGE_CD_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>BASE_LANGUAGE_CD is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="3"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="MSG_SEQ_FLG_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>MSG_SEQ_FLG is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="1"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="PROCESS_INSTANCE_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Process Instance</xsd:documentation> 
      <xsd:documentation>PROCESS_INSTANCE is a number of length 10 with a decimal position of 0</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:integer"> 
      <xsd:totalDigits value="10"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="PUBLISH_RULE_ID_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Publish Rule ID</xsd:documentation> 
      <xsd:documentation>PUBLISH_RULE_ID is a character of length 30. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="MSGNODENAME_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Application Message Node Name.  Name of the Application Message Node Definition.</xsd:documentation> 
      <xsd:documentation>MSGNODENAME is a character of length 30. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
</xsd:schema> 