sakora-api/api/src/java/xsd/PersonManagementService.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.imsglobal.org/services/es/pms2p0/xsd/imspms_v2p0"
           xmlns:pms="http://www.imsglobal.org/services/es/pms2p0/xsd/imspms_v2p0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           version="IMS PMS 2.0" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>XSD Data File Information -------------------------
                          Author: Colin Smythe Date: 22nd October, 2007 Version:
                          Draft 2.0 Status: CM/DN Release Description: The
                          Person data model root for the service realisation of
                          the Person Management Service. History: Version 1.0:
                          The first formal release of this PSM binding.
                          Copyright: 2005-2007 (c) IMS Global Learning
                          Consortium Inc. All Rights Reserved. IMS Global
                          Learning Consortium, Inc. (IMS/GLC) is publishing the
                          information contained in this binding
                          ("Specification") for purposes of scientific
                          experimental and scholarly collaboration only. IMS/GLC
                          makes no warranty or representation regarding the
                          accuracy or completeness of the Specification. This
                          material is provided on an "As Is" and "As Available
                          basis". The Specification is at all times subject to
                          change and revision without notice. It is your sole
                          responsibility to evaluate the usefulness, accuracy
                          and completeness of the Specification as it relates to
                          you. IMS/GLC would appreciate receiving your comments
                          and suggestions. Please contact IMS/GLC through our
                          website at: http://www.imsglobal.org. UML Source File
                          Information --------------------------- Choreography:
                          Sync Source XSLT File Information
                          ---------------------------- XSL Generator:
                          UMLtoSDLTransformv0p8.xsl XSLT Processor: Xalan
                          Release: 1.0 Beta 2 Date: 31st March, 2007
                          Auto-generation Tool -------------------- This
                          WSDL/XSD was auto-generated using the IMS WSDL/XSD
                          auto-generation tool. While every attempt has been
                          made to ensure that this tool auto-generates the XSDs
                          correctly, users should be aware that this is an
                          experimental tool. Permission is given to make use of
                          this tool. IMS makes no claim on the materials created
                          by third party users of this tool. Details on how to
                          use this tool are contained in the IMS document:
                          "IMS/GLC General Web Services: WSDL/XSD Binding
                          Auto-generation" available at the IMS web-site. Tool
                          Copyright: 2005-207 (c) IMS Global Learning Consortium
                          Inc. All Rights Reserved.</xs:documentation>
    </xs:annotation>
    <!-- Generate Global Attributes ***********************************************************************  -->
    <!-- ==================================================================================================  -->
    <!-- Generate Namespaced extension Group  *************************************************************  -->
    <!-- ==================================================================================================  -->
    <!-- Generate Special DataTypes  **********************************************************************  -->
    <!-- ==================================================================================================  -->
    <!-- Generate the enumerated simpleType declarations **************************************************  -->
    <xs:simpleType name="imsx_CodeMajor.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="success"/>
            <xs:enumeration value="processing"/>
            <xs:enumeration value="failure"/>
            <xs:enumeration value="unsupported"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="imsx_Severity.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="status"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="error"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="imsx_CodeMinorValue.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fullsuccess"/>
            <xs:enumeration value="idalloc"/>
            <xs:enumeration value="overflowfail"/>
            <xs:enumeration value="idallocinusefail"/>
            <xs:enumeration value="invaliddata"/>
            <xs:enumeration value="incompletedata"/>
            <xs:enumeration value="partialdatastorage"/>
            <xs:enumeration value="unknownobject"/>
            <xs:enumeration value="deletefailure"/>
            <xs:enumeration value="targetreadfailure"/>
            <xs:enumeration value="savepointerror"/>
            <xs:enumeration value="unknownquery"/>
            <xs:enumeration value="unknownvocab"/>
            <xs:enumeration value="targetisbusy"/>
            <xs:enumeration value="unauthorizedrequest"/>
            <xs:enumeration value="linkfailure"/>
            <xs:enumeration value="unsupported"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Gender.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
            <xs:enumeration value="unknown"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageSet.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="en"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="en-US"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MediaMode.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="uri"/>
            <xs:enumeration value="entityref"/>
            <xs:enumeration value="base64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContentRefType.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="image"/>
            <xs:enumeration value="audio"/>
            <xs:enumeration value="video"/>
            <xs:enumeration value="application"/>
            <xs:enumeration value="applet"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FieldType.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Boolean"/>
            <xs:enumeration value="Integer"/>
            <xs:enumeration value="String"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="imsx_codeMajor" type="pms:imsx_CodeMajor.Type"/>
    <xs:element name="imsx_severity" type="pms:imsx_Severity.Type"/>
    <xs:element name="imsx_codeMinorFieldValue"
                type="pms:imsx_CodeMinorValue.Type"/>
    <xs:element name="gender" type="pms:Gender.Type" default="unknown"/>
    <xs:element name="language" type="pms:LanguageSet.Type"/>
    <xs:element name="extensionField" type="pms:ExtensionField.Type"/>
   <xs:element name="fieldType" type="pms:FieldType.Type"/>
   <xs:element name="extension" type="pms:IMSExtension.Type"/>
   <xs:element name="formattedName" type="pms:Text.Type"/>
    <!-- ==================================================================================================  -->
    <!-- Generate the simpleType elements based IMS data-types  *******************************************  -->
    <xs:simpleType name="URL.Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4096"/>
            <xs:minLength value="1"/>
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="imsx_messageRefIdentifier" type="xs:string"/>
    <xs:element name="imsx_operationRefIdentifier" type="xs:string"/>
    <xs:element name="imsx_description" type="xs:string"/>
    <xs:element name="imsx_codeMinorFieldName" type="xs:string"
                default="TargetEndSystem"/>
    <xs:element name="imsx_version" type="xs:string" default="V1.0"/>
    <xs:element name="imsx_messageIdentifier" type="xs:string"/>
    <xs:element name="text" type="xs:string"/>
    <xs:element name="fieldName" type="xs:string" />
    <xs:element name="fieldValue" type="xs:string" />
   
    <!-- ==================================================================================================  -->
    <!-- Generate the derived data-type elements based upon simpleType ************************************  -->
    <xs:simpleType name="GUID.Type">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SequenceIdentifier.Type">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    
    <xs:simpleType name="Birthday.Type">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    
    <!-- ==================================================================================================  -->
    <!-- Generate the derived data-type elements based upon derived simpleType ****************************  -->
    <!-- ==================================================================================================  -->
    <!-- Generate the data-type ComplexTypes **************************************************************  -->
    <xs:complexType name="Person.Type">
        <xs:annotation>
            <xs:documentation>The Person data-type is the top-level container
                              for the Person data model. The data model consists
                              of: (1) Zero or more formatted names; (2) Zero or
                              more partenised names; (3) Zero or more addresses;
                              (4) Zero or more contact information sets; (5)
                              Zero or more demographic sets; (6) Zero or more
                              birthdays;</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:sourcedId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="pms:formname" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="pms:name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="pms:address" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="pms:contactinfo" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="pms:demographics" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="pms:birthday" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="pms:dataSource" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="pms:extension" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="imsx_StatusInfo.Type">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:imsx_codeMajor" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="pms:imsx_severity" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="pms:imsx_messageRefIdentifier" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element ref="pms:imsx_operationRefIdentifier" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="pms:imsx_description" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="pms:imsx_codeMinor" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="imsx_CodeMinor.Type">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:imsx_codeMinorField" minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="imsx_CodeMinorField.Type">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:imsx_codeMinorFieldName" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element ref="pms:imsx_codeMinorFieldValue" minOccurs="1"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="imsx_RequestHeaderInfo.Type">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:imsx_version" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="pms:imsx_messageIdentifier" minOccurs="1"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="imsx_ResponseHeaderInfo.Type">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:imsx_version" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="pms:imsx_messageIdentifier" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element ref="pms:imsx_statusInfo" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address.Type">
        <xs:annotation>
            <xs:documentation>The Address data-type is the container for ...</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="addresspart">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nonfieldedstreetaddress1"
                                    type="xs:string"/>
                        <xs:element name="nonfieldedstreetaddress2"
                                    type="xs:string"/>
                        <xs:element name="nonfieldedstreetaddress3"
                                    type="xs:string"/>
                        <xs:element name="nonfieldedstreetaddress4"
                                    type="xs:string"/>
                        <xs:element name="locality" type="xs:string"/>
                        <xs:element name="city" type="xs:string"/>
                        <xs:element name="statepr" type="xs:string"/>
                        <xs:element name="region" type="xs:string"/>
                        <xs:element name="country" type="xs:string"/>
                        <xs:element name="postcode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Name.Type">
        <xs:annotation>
            <xs:documentation>The Name type is the container for ...</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="partname">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstname" type="xs:string"/>
                        <xs:element name="nickname" type="xs:string"/>
                        <xs:element name="familyname" type="xs:string"/>
                        <xs:element name="givenname" type="xs:string"/>
                        <xs:element name="prefix" type="xs:string"/>
                        <xs:element name="suffix" type="xs:string"/>
                        <xs:element name="initials" type="xs:string"/>
                        <xs:element name="last" type="xs:string"/>
                        <xs:element name="maternal" type="xs:string"/>
                        <xs:element name="middle" type="xs:string"/>
                        <xs:element name="particle" type="xs:string"/>
                        <xs:element name="paternal" type="xs:string"/>
                        <xs:element name="surname" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Demographcs.Type">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:gender" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="pms:placeofbirth" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FormName.Type">
        <xs:annotation>
            <xs:documentation>The FormName data type is the container for the
                              formatted names. An external vocabulary is used
                              for the set of types of name. This vocabulary is
                              contained in the VDEX vocabulary
                              'ims_names_vocabularyv1p0.xml'.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:formattedName" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactInfo.Type">
        <xs:annotation>
            <xs:documentation>The ContactInfo type is the container for ...</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="telephone" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="webaddress" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GUIDSet.Type">
        <xs:annotation>
            <xs:documentation>The GUIDSet data-type is the container for ...</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:sourcedId" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Text.Type">
        <xs:annotation>
            <xs:documentation>
                The Text data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:language" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="pms:text" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="IMSExtension.Type">
        <xs:annotation>
            <xs:documentation>
                The IMSExtension data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:extensionField" minOccurs = "1" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExtensionField.Type">
        <xs:annotation>
            <xs:documentation>
                The ExtensionField data-type is the container for ...
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pms:fieldName" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="pms:fieldType" minOccurs = "1" maxOccurs = "1"/>
            <xs:element ref="pms:fieldValue" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ==================================================================================================  -->
    <!-- Declaration of the elements **********************************************************************  -->
    <xs:element name="formname" type="pms:FormName.Type"/>
    <xs:element name="name" type="pms:Name.Type"/>
    <xs:element name="address" type="pms:Address.Type"/>
    <xs:element name="contactinfo" type="pms:ContactInfo.Type"/>
    <xs:element name="demographics" type="pms:Demographcs.Type"/>
    <xs:element name="birthday" type="pms:Birthday.Type"/>
    <xs:element name="dataSource" type="pms:GUID.Type"/>
    <xs:element name="imsx_codeMinor" type="pms:imsx_CodeMinor.Type"/>
    <xs:element name="imsx_codeMinorField" type="pms:imsx_CodeMinorField.Type"/>
    <xs:element name="imsx_statusInfo" type="pms:imsx_StatusInfo.Type"/>
    <xs:element name="placeofbirth" type="pms:Text.Type"/>
    <!-- ==================================================================================================  -->
    <!-- Declaration of the message parameter elements ****************************************************  -->
    <xs:element name="sourcedId" type="pms:GUID.Type"/>
    <xs:element name="person" type="pms:Person.Type"/>
    <xs:element name="fromSavePoint" type="pms:SequenceIdentifier.Type"/>
    <xs:element name="dataFile" type="pms:URL.Type"/>
    <xs:element name="savePoint" type="pms:SequenceIdentifier.Type"/>
    <!-- ==================================================================================================  -->
    <!-- Declaration of the message body elements *********************************************************  -->
    <xs:element name="createPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pms:sourcedId"/>
                <xs:element ref="pms:person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createPersonResponse">
        <xs:complexType/>
    </xs:element>
    <xs:element name="deletePersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pms:sourcedId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deletePersonResponse">
        <xs:complexType/>
    </xs:element>
    <xs:element name="readPersonsRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="readPersonsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pms:dataFile" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="readPersonsFromSavePointRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pms:fromSavePoint"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="readPersonsFromSavePointResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pms:dataFile" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="pms:savePoint" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:element name="replacePersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pms:sourcedId"/>
                <xs:element ref="pms:person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="replacePersonResponse">
        <xs:complexType/>
    </xs:element>
    
    <!-- ==================================================================================================  -->
    <!-- Declaration of the root element(s) ***************************************************************  -->
    <xs:element name="imsx_syncRequestHeaderInfo"
                type="pms:imsx_RequestHeaderInfo.Type"/>
    <xs:element name="imsx_syncResponseHeaderInfo"
                type="pms:imsx_ResponseHeaderInfo.Type"/>
    <!-- ==================================================================================================  -->
</xs:schema>
