sakora-api/api/src/java/xsd/readCourseSectionsFSPResponse.xsd

<?xml version="1.0"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/cms2p0/xsd/imscms_v2p0" version="IMS CMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cms="http://www.imsglobal.org/services/es/cms2p0/xsd/imscms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
  <xs:simpleType name="URL.Type"> 
    <xs:restriction base="xs:string"> 
      <xs:maxLength value="4096"/> 
      <xs:minLength value="1"/> 
      <xs:whiteSpace value="preserve"/> 
    </xs:restriction> 
  </xs:simpleType> 
  <xs:simpleType name="SequenceIdentifier.Type"> 
    <xs:restriction base="xs:dateTime"/> 
  </xs:simpleType> 
  <xs:element name="readCourseSectionsFromSavePointResponse"> 
    <xs:complexType> 
      <xs:sequence> 
        <xs:element maxOccurs="1" minOccurs="0" ref="cms:dataFile"/> 
        <xs:element maxOccurs="1" minOccurs="0" ref="cms:savePoint"/> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
  <xs:element name="dataFile" type="cms:URL.Type"/> 
  <xs:element name="savePoint" type="cms:SequenceIdentifier.Type"/> 
</xs:schema>

