sakora-api/api/src/java/xsd/readPersonsFromSavePointReq.V1.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/pms2p0/xsd/imspms_v2p0" version="IMS PMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pms="http://www.imsglobal.org/services/es/pms2p0/xsd/imspms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="SequenceIdentifier.Type">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:element name="readPersonsFromSavePointRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pms:fromSavePoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromSavePoint" type="pms:SequenceIdentifier.Type"/>
</xs:schema>