sakora-api/api/src/java/xsd/readMembershipsFromSavPointReq.V1.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0" version="IMS MMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mms="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="SequenceIdentifier.Type">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:element name="readMembershipsFromSavePointRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mms:fromSavePoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromSavePoint" type="mms:SequenceIdentifier.Type"/>
</xs:schema>