sakora-api/api/src/java/xsd/readMembershipsResponse.V1.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0" version="IMS MMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mms="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="URL.Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4096"/>
      <xs:minLength value="1"/>
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="readMembershipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="mms:dataFile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataFile" type="mms:URL.Type"/>
</xs:schema>