sakora-api/api/src/java/xsd/readGroupsResponse.V1.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/gms2p0/xsd/imsgms_v2p0" version="IMS GMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gms="http://www.imsglobal.org/services/es/gms2p0/xsd/imsgms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="URL.Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4096"/>
      <xs:minLength value="1"/>
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="readGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="gms:dataFile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataFile" type="gms:URL.Type"/>
</xs:schema>