sakora-api/api/src/java/xsd/readMembershipsRequest.V1.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0" version="IMS MMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mms="http://www.imsglobal.org/services/es/mms2p0/xsd/imsmms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="GUID.Type">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="GUIDSet.Type">
    <xs:annotation>
      <xs:documentation>
                The GUIDSet data-type is the container for ...
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="mms:sourcedId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="readMembershipsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mms:sourcedIdSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourcedId" type="mms:GUID.Type"/>
  <xs:element name="sourcedIdSet" type="mms:GUIDSet.Type"/>
</xs:schema>