sakora-api/api/src/java/xsd/readGroupsRequest.V1.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.imsglobal.org/services/es/gms2p0/xsd/imsgms_v2p0" version="IMS GMS 2.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gms="http://www.imsglobal.org/services/es/gms2p0/xsd/imsgms_v2p0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="GUID.Type">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="readGroupsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="gms:sourcedIdSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GUIDSet.Type">
    <xs:annotation>
      <xs:documentation>
The GUIDSet data-type is the container for ...
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="gms:sourcedId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sourcedId" type="gms:GUID.Type"/>
  <xs:element name="sourcedIdSet" type="gms:GUIDSet.Type"/>
</xs:schema>